<h3>View Job Details</h3>
<div>
    <div>
        <label><b> Job Title</b></label> {{job.job_Title}}
    </div>
    <div>
        <label><b> Job Description</b></label> {{job.job_Description}}
    </div>
    <div>
        <label><b> Campaign</b></label> {{job.campaign}}
    </div>
    <div>
        <label><b> Location</b></label> {{job.location}}
    </div>
    <div>
        <label><b> Minimum Experience Required </b></label> {{job.min_Work_Exp}}
    </div>
    <div>
        <label><b> Maximum Experience Required</b></label> {{job.max_Work_Exp}}
    </div>
    <div>
        <label><b> Employment Type</b></label> {{job.employment_Type}}
    </div>
    <div>
        <label><b> Grade </b></label> {{job.grade}}
    </div>
    <div>
        <label><b> Number of Openings </b></label> {{job.no_of_Openings}}
    </div>
    <div>
        <label><b> Tentative Joining</b></label> {{job.tentative_Joining}}
    </div>
</div>
